*.pyc
*~
# Mercurial:
.hg*
# IntelliJ config files:
/.idea
# Eclipse config files:
/.cproject
/.project
# QtCreator config files:
/*.config
/*.creator
/*.creator.user
/*.files
/*.includes
/*.autosave
/CMakeLists.txt.user*
# Mac Finder:
.DS_Store
# CLion/IntelliJ
*cmake-build-debug
.idea/*
# VS Code:
/.vscode

build

yaml-cpp/*
!yaml-cpp/build
yaml-cpp/build/*
!yaml-cpp/build/libyaml-cpp.so
!yaml-cpp/build/libyaml-cpp.so.0.7
!yaml-cpp/build/libyaml-cpp.so.0.7.0
!yaml-cpp/include
!yaml-cpp/LICENSE

eigen
